.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-bar {
  margin-top: 20px;
  display: flex;
  gap: 8px;
}

.content-block {
  width: 100%;
  margin-top: 20px;
}

.post-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
